<h1>Messages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Chat</th>
      <th>Sender</th>
      <th>Content</th>
      <th>Receiver</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td>
          <%= link_to "Chat ##{message.chat_id}", chat_path(message.chat) if message.chat %>
        </td>
        <td>
          <%= message.chat.sender.first_name if message.chat && message.chat.sender %>
        </td>
        <td><%= message.body %></td>
        <td>
          <%= message.chat.receiver.first_name if message.chat && message.chat.receiver %>
        </td>
        <td>
          <%= link_to 'Show', message_path(message), class: 'btn btn-sm btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>