<h1>User Details</h1>

<div class="card">
  <div class="card-body">
    <p><strong>ID:</strong> <%= @user.id %></p>
    <p><strong>First Name:</strong> <%= @user.first_name %></p>
    <p><strong>Last Name:</strong> <%= @user.last_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Created At:</strong> <%= @user.created_at %></p>
    <p><strong>Updated At:</strong> <%= @user.updated_at %></p>

    <h4 class="mt-4">Chats:</h4>
    <ul>
      <% @user.sent_chats.each do |chat| %>
        <li>Sent to <%= chat.receiver.full_name %> (Chat #<%= chat.id %>)</li>
      <% end %>
      <% @user.received_chats.each do |chat| %>
        <li>Received from <%= chat.sender.full_name %> (Chat #<%= chat.id %>)</li>
      <% end %>
    </ul>

    <h4 class="mt-4">Messages Sent:</h4>
    <ul>
      <% @user.sent_messages.each do |message| %>
        <li><%= message.body %> (in Chat #<%= message.chat_id %>)</li>
      <% end %>
    </ul>

    <% if can?(:edit, @user) %>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Back to Users', users_path, class: 'btn btn-secondary' %>
  </div>
</div>