<h1>Edit Chat</h1>

<div class="card shadow-sm p-4 col-md-8 mx-auto">
  <%= form_with model: @chat do |f| %>
    <% if @chat.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading"><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h4>
        <ul>
          <% @chat.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :sender_id, "Sender", class: 'form-label' %>
      <%= f.select :sender_id, 
                   User.all.collect { |u| [u.full_name, u.id] }, 
                   {}, 
                   class: "form-select #{'is-invalid' if @chat.errors[:sender_id].any?}" %>
    </div>

    <div class="mb-3">
      <%= f.label :receiver_id, "Receiver", class: 'form-label' %>
      <%= f.select :receiver_id, 
                   User.all.collect { |u| [u.full_name, u.id] }, 
                   {}, 
                   class: "form-select #{'is-invalid' if @chat.errors[:receiver_id].any?}" %>
      <% @chat.errors.full_messages_for(:receiver_id).each do |message| %>
        <div class="invalid-feedback d-block">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="d-grid">
      <%= f.submit 'Update Chat', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', @chat, class: 'btn btn-secondary mt-3' %>