<h1>Chats</h1>

<%= link_to 'New chat', new_chat_path, class: 'btn btn-primary mb-4' if can?(:create, Chat) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <% if can?(:read, chat) %>
        <tr>
          <td><%= chat.id %></td>
          <td><%= chat.sender.first_name %></td>
          <td><%= chat.receiver.first_name %></td>
          <td>
            <%= link_to 'Show', chat_path(chat), class: 'btn btn-sm btn-primary' %>
            <% if can?(:update, chat) %>
              <%= link_to 'Edit', edit_chat_path(chat), class: 'btn btn-sm btn-secondary' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

